.Bottom_Body {
  display: flex;
  flex-direction: column;
}

.Bottom_Shop_Section {
  display: flex;
  justify-content: center;
}

.Bottom_Pet_Group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-right: 0.8%;
  margin-bottom: 5%;
}

.Bottom_Category_Group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-right: 0.6%;
  margin-bottom: 8%;
}

.Bottom_H3Tag {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
  font-style: bold;
  margin-left: 10.5%;
}

.Bottom_Pet_Image {
  width: 145px;
}

.Bottom_Pet_Type {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-style: bold;
  color: black;
}

.Bottom_Product_Image {
  width: 98px;
  border-style: groove;
  border-color: rgba(0, 0, 0, 0.62);
  padding: 25px 34px;
}

@media only screen and (max-width: 1250px) {
  .Bottom_Shop_Section {
    flex-wrap: wrap;
    justify-content: center;
  }
}
