.Search_Background {
  height: 600px;
  display: flex;
  flex-direction: column;
}

.Search_H1Tag {
  margin-left: 5%;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100px;
}

.Search_Form {
  display: flex;
  justify-content: center;
}

#Search-Bar {
  height: 30px;
  width: 400px;
}

.Search_Button {
  height: 36px;
  width: 120px;
  background-color:aliceblue;
}

@media only screen and (max-width: 900px) {
  .Search_Form {
    justify-content: flex-start;
  }

  .Search_H1Tag {
    font-size: 80px;
  }
}